<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload and Preview</title>
  </head>
  <body>
    <input type="file" id="image-input" onchange="previewImage()" />
    <br />
    <img id="image-preview" style="display: none;" />
    <br />
    <button onclick="convertToArray()">Resize and Grayscale</button>
    <br />
    <img id="gray-image" style="display: none;" />
    <br />
    <textarea id="image-array" rows="5" cols="50" style="display: none;"></textarea>
    <br />
    <button onclick="sendArrayToPython()">Check Emotion</button>

    <script>
      function previewImage() {
        var input = document.getElementById("image-input");
        var preview = document.getElementById("image-preview");

        var reader = new FileReader();
        reader.onload = function() {
          preview.src = reader.result;
        };

        if (input.files && input.files[0]) {
          preview.style.display = "block";
          reader.readAsDataURL(input.files[0]);
        }
      }

      function convertToArray() {
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        var img = document.getElementById("image-preview");

        // Resize and grayscale image
        canvas.width = 224;
        canvas.height = 224;
        ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, 224, 224);
        ctx.filter = "grayscale(100%)";
        ctx.drawImage(img, 0, 0);

        var preview = document.getElementById("gray-image");
        preview.src = canvas.toDataURL();
        preview.style.display = "block";

        var imageData = ctx.getImageData(0, 0, img.width, img.height);
        var imageArray = Array.from(imageData.data);
        
        var textarea = document.getElementById("image-array");
        textarea.value = JSON.stringify(imageArray);
        textarea.style.display = "block";

      }

      function sendArrayToPython() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/process_image", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            console.log(xhr.responseText);
          }
        };

        var imageArray = JSON.parse(document.getElementById("image-array").value);
        var data = JSON.stringify({ imageArray: imageArray });
        xhr.send(data);
      }
    </script>
  </body>
</html>
